@{
    @model string;
    Layout = "_Layout";
}


<div class="row flex-d justify-content-center align-content-center">
    <div class="col-3">
        <h3>Are you shure you want to close "@Model"'s registration?</h3>
        @Html.ActionLink("Yes", "CloseRegistrationConfirmation", "Main", new {equipmentName = Model, confirmed = true}, new {@class = "btn btn-primary"})
        <button onclick="goBack()" class="btn btn-primary">No</button>
    </div>
</div>