@{
    @model string;
    Layout = "_Layout";
}


<div class="container flex-d justify-content-center align-content-center">
    <h1>@Model</h1>
    <button onclick="goBack();" class="btn btn-primary justify-self-right">Return</button>
</div>